<div style="border-radius: 15px; box-shadow: 2px 2px 4px; border: 1px solid; background:#bdc3c7; padding: 20px"> <h7 style="color:black; margin-bottom:20px"> –ê–ª–µ–∫—Å–∞–Ω–¥—Ä, –ø—Ä–∏–≤–µ—Ç!) –≠—Ç–æ –ú–∏—Ö–∞–∏–ª.

–ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –∑–∞–º–µ—á–∞–Ω–∏—è –¥–∞–ª–µ–µ –ø–æ —Ç–µ–∫—Å—Ç—É –ø–æ–º–µ—á–µ–Ω—ã —Ä–∞–∑–ª–∏—á–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏:
    
---    
<div class="alert alert-block alert-danger">
‚ùå : –ö—Ä–∏—Ç–∏—á–µ—Å–∫–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ, –∫–æ—Ç–æ—Ä—ã–µ —Å–ª–µ–¥—É–µ—Ç –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div> 
    
---
    
<div class="alert alert-block alert-warning">
‚ö†Ô∏è : –ó–∞–º–µ—á–∞–Ω–∏–µ\—Å–æ–≤–µ—Ç –Ω–∞ –±—É–¥—É—â–µ–µ.
</div>
    
---

<div class="alert alert-block alert-success">
‚úîÔ∏è : –ö–æ–≥–¥–∞ –≤—Å—ë —Å–¥–µ–ª–∞–Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ.
</div>

---

–ï—Å–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –≤–æ–ø—Ä–æ—Å—ã –æ–±—â–µ–≥–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∞, —Ç–æ –Ω–µ —Å—Ç–µ—Å–Ω—è–π—Å—è - –∑–∞–¥–∞–≤–∞–π!) –î–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –º–Ω–µ –±—ã–ª–æ –ª–µ–≥—á–µ –∏—Ö –Ω–∞–π—Ç–∏, —Ç–æ –≤—ã–¥–µ–ª—è–π –∏—Ö –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ —Å –ø–æ–º–æ—â—å—é —Ü–≤–µ—Ç–∞, –Ω–∞–ø—Ä–∏–º–µ—Ä –≤–æ—Ç —Ç–∞–∫ - <font color=#e17055>"–≤–æ–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –æ—Å—Ç–∞–Ω–µ—Ç—Å—è –Ω–µ–∑–∞–º–µ—á–µ–Ω–Ω—ã–º"</font>
        
    
p.s.: –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∑–∞–º–µ—á–∞–Ω–∏—è, –µ—Å–ª–∏ –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç —á—Ç–æ —Ç–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –≤ –ø—Ä–æ–µ–∫—Ç–µ.</h7>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 

–ò—Ç–æ–≥ —Ä–µ–≤—å—é - —Ç—ã –ø—Ä–æ–¥–µ–ª–∞–ª –æ—Ç–ª–∏—á–Ω—É—é —Ä–∞–±–æ—Ç—É! –í—Å–µ –∑–∞–ø—Ä–æ—Å—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –∏ –¥–∞—é—Ç –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç. –¢—ã –Ω–∞–≥–ª—è–¥–Ω–æ –ø–æ–∫–∞–∑–∞–ª —É–º–µ–Ω–∏–µ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã SQL –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø–æ–¥–æ–±–Ω—ã—Ö –∑–∞–¥–∞—á. –¢–∞–∫ –¥–µ—Ä–∂–∞—Ç—å! 
    
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞! üëè
    
![](https://media.giphy.com/media/SkwbfLHO0a1lS/giphy.gif)
    
–û—Å—Ç–∞–µ—Ç—Å—è –¥–æ–∂–¥–∞—Ç—å—Å—è —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–æ–∑–≤–æ–Ω–∞ –≤ –±–ª–∏–∂–∞–π—à–µ–µ –≤—Ä–µ–º—è)
</div>

# –§–∏–Ω–∞–ª—å–Ω—ã–π —Å–ø—Ä–∏–Ω—Ç. –ó–∞–¥–∞—á–∏ –ø–æ SQL.

<h1>–°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–¶–µ–ª–∏-–∏-–∑–∞–¥–∞—á–∏" data-toc-modified-id="–¶–µ–ª–∏-–∏-–∑–∞–¥–∞—á–∏-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–¶–µ–ª–∏ –∏ –∑–∞–¥–∞—á–∏</a></span><ul class="toc-item"><li><span><a href="#–ó–∞–¥–∞–Ω–∏—è" data-toc-modified-id="–ó–∞–¥–∞–Ω–∏—è-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>–ó–∞–¥–∞–Ω–∏—è</a></span></li></ul></li><li><span><a href="#–û–ø–∏—Å–∞–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–û–ø–∏—Å–∞–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö</a></span><ul class="toc-item"><li><span><a href="#–ö–Ω–∏–≥–∏-books" data-toc-modified-id="–ö–Ω–∏–≥–∏-books-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>–ö–Ω–∏–≥–∏ <code>books</code></a></span></li><li><span><a href="#–ê–≤—Ç–æ—Ä—ã-authors" data-toc-modified-id="–ê–≤—Ç–æ—Ä—ã-authors-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>–ê–≤—Ç–æ—Ä—ã <code>authors</code></a></span></li><li><span><a href="#–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞-publishers" data-toc-modified-id="–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞-publishers-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ <code>publishers</code></a></span></li><li><span><a href="#–û—Ü–µ–Ω–∫–∏-–∫–Ω–∏–≥-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏-ratings" data-toc-modified-id="–û—Ü–µ–Ω–∫–∏-–∫–Ω–∏–≥-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏-ratings-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>–û—Ü–µ–Ω–∫–∏ –∫–Ω–∏–≥ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ <code>ratings</code></a></span></li><li><span><a href="#–û–±–∑–æ—Ä—ã-–∫–Ω–∏–≥-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏-reviews" data-toc-modified-id="–û–±–∑–æ—Ä—ã-–∫–Ω–∏–≥-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏-reviews-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>–û–±–∑–æ—Ä—ã –∫–Ω–∏–≥ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ <code>reviews</code></a></span></li></ul></li><li><span><a href="#–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ-–∫-–ë–î.-–û–±–∑–æ—Ä-—Ç–∞–±–ª–∏—Ü." data-toc-modified-id="–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ-–∫-–ë–î.-–û–±–∑–æ—Ä-—Ç–∞–±–ª–∏—Ü.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î. –û–±–∑–æ—Ä —Ç–∞–±–ª–∏—Ü.</a></span></li><li><span><a href="#–†–µ—à–µ–Ω–∏—è-–∑–∞–¥–∞—á" data-toc-modified-id="–†–µ—à–µ–Ω–∏—è-–∑–∞–¥–∞—á-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>–†–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á</a></span><ul class="toc-item"><li><span><a href="#–°–∫–æ–ª—å–∫–æ-–≤—ã—à–ª–æ-–∫–Ω–∏–≥-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞" data-toc-modified-id="–°–∫–æ–ª—å–∫–æ-–≤—ã—à–ª–æ-–∫–Ω–∏–≥-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>–°–∫–æ–ª—å–∫–æ –≤—ã—à–ª–æ –∫–Ω–∏–≥ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞</a></span></li><li><span><a href="#–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–∏-—Å—Ä–µ–¥–Ω—è—è-–æ—Ü–µ–Ω–∫–∞-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏" data-toc-modified-id="–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–∏-—Å—Ä–µ–¥–Ω—è—è-–æ—Ü–µ–Ω–∫–∞-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏</a></span></li><li><span><a href="#–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–∫–æ—Ç–æ—Ä–æ–µ-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–±–æ–ª—å—à–µ-–≤—Å–µ–≥–æ-–∫–Ω–∏–≥-(—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü)" data-toc-modified-id="–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–∫–æ—Ç–æ—Ä–æ–µ-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–±–æ–ª—å—à–µ-–≤—Å–µ–≥–æ-–∫–Ω–∏–≥-(—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ (—Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü)</a></span></li><li><span><a href="#–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å-–∞–≤—Ç–æ—Ä–∞-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥-(–∫–Ω–∏–≥–∏-—Ç–æ–ª—å–∫–æ-—Å-50-–∏-–±–æ–ª–µ–µ-–æ—Ü–µ–Ω–∫–∞–º–∏)" data-toc-modified-id="–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å-–∞–≤—Ç–æ—Ä–∞-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥-(–∫–Ω–∏–≥–∏-—Ç–æ–ª—å–∫–æ-—Å-50-–∏-–±–æ–ª–µ–µ-–æ—Ü–µ–Ω–∫–∞–º–∏)-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (–∫–Ω–∏–≥–∏ —Ç–æ–ª—å–∫–æ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏)</a></span></li><li><span><a href="#–°—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª–µ–µ-50-–æ—Ü–µ–Ω–æ–∫" data-toc-modified-id="–°—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª–µ–µ-50-–æ—Ü–µ–Ω–æ–∫-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫</a></span></li></ul></li><li><span><a href="#–û–±—â–∏–π-–≤—ã–≤–æ–¥-–∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è" data-toc-modified-id="–û–±—â–∏–π-–≤—ã–≤–æ–¥-–∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>–û–±—â–∏–π –≤—ã–≤–æ–¥ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è</a></span></li></ul></div>

## –¶–µ–ª–∏ –∏ –∑–∞–¥–∞—á–∏

–ó–∞–¥–∞—á–∞ - –∞–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –∫—Ä—É–ø–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

### –ó–∞–¥–∞–Ω–∏—è

- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.


## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

![](https://concrete-web-bad.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F069818d1-0e5c-4d87-a461-0de584ab9c33%2FUntitled_(33).png?id=bd53c8db-b4fd-49eb-8cc9-572ebb3c9163&table=block&spaceId=9e4bd47b-c6e6-4ca3-bcee-279794b47315&width=1640&userId=&cache=v2)


### –ö–Ω–∏–≥–∏ `books`

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

### –ê–≤—Ç–æ—Ä—ã `authors`

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

### –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ `publishers`

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

### –û—Ü–µ–Ω–∫–∏ –∫–Ω–∏–≥ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ `ratings`

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

### –û–±–∑–æ—Ä—ã –∫–Ω–∏–≥ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ `reviews`

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

## –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î. –û–±–∑–æ—Ä —Ç–∞–±–ª–∏—Ü.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def headline(line, width=79):
    """Return the string in plain uppercase text with pseudographics"""
    return f'\n{line.upper():=^{width}}'

In [3]:
def get(query):
    return pd.io.sql.read_sql(query, con = engine)

In [4]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
             'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
             'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [5]:
for table in ['books', 'authors', 'publishers', 'ratings', 'reviews']:
    query = f'SELECT * FROM {table} LIMIT 5;'
    print(headline(table))
    display(get(query))

=====================================BOOKS=====================================

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

====================================AUTHORS====================================

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

==================================PUBLISHERS===================================

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

====================================RATINGS====================================

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

====================================REVIEWS====================================

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

**–í—ã–≤–æ–¥—ã**:

- –†–µ–∞–ª—å–Ω–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –æ–ø–∏—Å–∞–Ω–Ω–æ–π.

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 

–ó–¥–µ—Å—å –≤—Å—ë —Ö–æ—Ä–æ—à–æ. –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –≤—ã–≥—Ä—É–∑–∏–ª –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª –∏—Ö —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ. –¢–µ–ø–µ—Ä—å –º–æ–∂–µ–º –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –∑–∞–¥–∞–Ω–∏–π
</div>

## –†–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á

### –°–∫–æ–ª—å–∫–æ –≤—ã—à–ª–æ –∫–Ω–∏–≥ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [6]:
query = """
SELECT COUNT(*)
FROM books
WHERE publication_date > '2000-01-01';
"""

get(query)

   count
0    819

**–í—ã–≤–æ–¥—ã**:

- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥.
- –°—Ç—Ä–æ–≥–æ –≥–æ–≤–æ—Ä—è, –Ω–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥, –∞ –ª—é–±—ã—Ö –∏–∑–¥–∞–Ω–∏–π - –ø–æ—Å–∫–æ–ª—å–∫—É –≤ —Ç—Ä–µ—Ç—å–µ–π –∑–∞–¥–∞—á–µ–π –∫–Ω–∏–≥–æ–π –Ω–∞–∑—ã–≤–∞—é—Ç –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ –∏–∑–¥–∞–Ω–∏–µ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.
- –°—Ç—Ä–æ–≥–æ –≥–æ–≤–æ—Ä—è, —Å–∞–º–∞ –¥–∞—Ç–∞ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤ –≤—ã–±–æ—Ä–∫—É –Ω–µ –≤—Ö–æ–¥–∏—Ç, –ø–æ—Å–∫–æ–ª—å–∫—É —Ç–∞–∫ —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞–Ω–∞ –∑–∞–¥–∞—á–∞.

In [7]:
query = """
SELECT COUNT(*)
FROM books
WHERE publication_date >= '2000-01-01';
"""

get(query)

   count
0    821

- –ï—Å–ª–∏ –ø–æ—Å—Ç–∞–≤–∏—Ç—å –≤–æ–ø—Ä–æ—Å —á—É—Ç—å –∏–Ω–∞—á–µ, —Ç–æ –Ω–∞—á–∏–Ω–∞—è —Å 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 821 –∏–∑–¥–∞–Ω–∏–µ.

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    
–í—Å—ë –≤–µ—Ä–Ω–æ. –≠—Ç–æ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç

</div>

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [8]:
query = """
SELECT author,
       title,
       publication_date,
       COALESCE(reviews_count, 0) AS reviews_count,
       COALESCE(avg_rating, 0) AS avg_rating
FROM books AS b
LEFT JOIN authors AS a
    ON b.author_id = a.author_id
LEFT JOIN (SELECT book_id, COUNT(*) AS reviews_count
           FROM reviews
           GROUP BY book_id) AS rv
           ON b.book_id = rv.book_id
LEFT JOIN (SELECT book_id, AVG(rating) AS avg_rating
           FROM ratings
           GROUP BY book_id) AS ra
           ON b.book_id = ra.book_id
ORDER BY reviews_count DESC, avg_rating DESC;
"""

get(query)

,author,title,publication_date,reviews_count,avg_rating
0,Stephenie Meyer,Twilight (Twilight #1),2006-09-06,7,3.662500
1,J.K. Rowling/Mary GrandPr√©,Harry Potter and the Prisoner of Azkaban (Harr...,2004-05-01,6,4.414634
2,J.K. Rowling/Mary GrandPr√©,Harry Potter and the Chamber of Secrets (Harry...,1999-06-02,6,4.287500
3,Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng,The Book Thief,2006-03-14,6,4.264151
4,Jeannette Walls,The Glass Castle,2006-01-17,6,4.206897
...,...,...,...,...,...
995,Leonardo da Vinci/H. Anna Suh,Leonardo's Notebooks,2005-08-01,0,4.000000
996,Teddy Slater/Ron Dias/Ric Gonz√°lez,Disney's Beauty and the Beast (A Little Golden...,2004-05-11,0,4.000000
997,Edgar Allan Poe/Benjamin F. Fisher,Essential Tales and Poems,2004-10-25,0,4.000000
998,Faye Perozich/Anne Rice/John Bolton/Daerick Gr√∂ss,Anne Rice's The Vampire Lestat: A Graphic Novel,1991-11-30,0,3.666667
999,Kimon Nicolaides/Mamie Harmon,The Natural Way to Draw,1990-02-01,0,3.000000

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    
–ó–¥–æ—Ä–æ–≤–æ. –≠—Ç–æ –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö –∫–æ–≤–∞—Ä–Ω—ã—Ö –∑–∞–ø—Ä–æ—Å–æ–≤, –∫–∞–∫ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –ø—Ä–∞–∫—Ç–∏–∫–∞, –Ω–æ —Ç—ã —Å–ø—Ä–∞–≤–∏–ª—Å—è —É—Å–ø–µ—à–Ω–æ. –ú–æ–ª–æ–¥–µ—Ü!)

</div>

**–í—ã–≤–æ–¥—ã**:

- –ü–æ–ª—É—á–µ–Ω–∞ —Ç–∞–±–ª–∏—Ü–∞, –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω–∞—è –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É.
- –ù–∞–º –¥–æ—Å—Ç—É–ø–Ω–∞ —Ä–æ–≤–Ω–æ —Ç—ã—Å—è—á–∞ –∑–∞–ø–∏—Å–µ–π. –≠—Ç–æ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ, –∏–ª–∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ?
- –°–∞–º—ã–µ –æ–±—Å—É–∂–¥–∞–µ–º—ã–µ –∫–Ω–∏–≥–∏ –Ω–∞–ø–∏—Å–∞–Ω—ã –∂–µ–Ω—â–∏–Ω–∞–º–∏.

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ (—Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü)

In [9]:
query = """
SELECT publisher, book_count
FROM publishers AS p
JOIN (SELECT COUNT(*) AS book_count,
             publisher_id
      FROM books
      WHERE num_pages > 50
      GROUP BY publisher_id
      ORDER BY book_count DESC
      LIMIT 1) AS b
      ON p.publisher_id = b.publisher_id
"""

get(query)

       publisher  book_count
0  Penguin Books          42

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã–º –∫–Ω–∏–≥–∞–º

</div>

**–í—ã–≤–æ–¥—ã**:

- –ë–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ–ª–Ω–æ—Ü–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥ –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ "Penguin Books" - 42 —Ç–∞–∫–∏—Ö –∏–∑–¥–∞–Ω–∏—è.

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (–∫–Ω–∏–≥–∏ —Ç–æ–ª—å–∫–æ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏)

In [14]:
query = """
SELECT author,
       author_avg_rating
FROM authors AS a
JOIN (SELECT author_id,
             AVG(book_avg_rating) AS author_avg_rating
      FROM books as b
      JOIN (SELECT book_id,
                   AVG(rating) AS book_avg_rating
            FROM ratings
            GROUP BY book_id
            HAVING COUNT(*) > 50) AS r
            ON r.book_id = b.book_id
      GROUP BY author_id
      ORDER BY author_avg_rating DESC
      LIMIT 1) AS bs
      ON bs.author_id = a.author_id
"""

get(query)

                       author  author_avg_rating
0  J.K. Rowling/Mary GrandPr√©           4.283844

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–ò –∑–¥–µ—Å—å —Ç—ã –Ω–µ –æ—à–∏–±—Å—è. –¢—ã –≤–µ—Ä–Ω–æ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–ª –∫–Ω–∏–≥–∏ –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–æ–≤

</div>

**–í—ã–≤–æ–¥—ã**:

- –ù–∞–∏–±–æ–ª–µ–µ –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥ - —É –¥—É—ç—Ç–∞ –∞–≤—Ç–æ—Ä–æ–≤ "J.K. Rowling/Mary GrandPr√©".

### –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫

–ü–µ—Ä–≤—ã–π –∂–µ –≤–∞—Ä–∏–∞–Ω—Ç, –∫–æ—Ç–æ—Ä—ã–π –ø—Ä–∏—à—ë–ª –Ω–∞ —É–º:

In [11]:
query = """
SELECT 1.0 * COUNT(review_id) / COUNT(DISTINCT username) AS avg_reviews
from reviews AS rv
WHERE username IN (SELECT username
                   FROM ratings
                   GROUP BY username
                   HAVING COUNT(rating) > 50)
"""

get(query)

   avg_reviews
0    24.333333

–ù–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π –∑–∞–ø–∏—à—É –∏ –≤—Ç–æ—Ä–æ–π –≤–∞—Ä–∏–∞–Ω—Ç:

In [12]:
query = """
SELECT AVG(reviews_count) AS avg_reviews
FROM (SELECT username,
             COUNT(review_id) AS reviews_count
      FROM reviews
      WHERE username IN (SELECT username
                         FROM ratings
                         GROUP BY username
                         HAVING COUNT(rating) > 50)
      GROUP BY username) AS r
"""

get(query)

   avg_reviews
0    24.333333

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–ò —ç—Ç–æ .. –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç! –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª –∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏.


–í –∏—Ç–æ–≥–µ, 5\5 —Å –ø–µ—Ä–≤–æ–π –ø–æ–ø—ã—Ç–∫–∏ - —ç—Ç–æ —Å–∏–ª—å–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç)

</div>

**–í—ã–≤–æ–¥—ã**:

- –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º –ø—É–±–ª–∏–∫–æ–≤–∞–ª–∏ 24+1/3 –æ–±–∑–æ—Ä–æ–≤.

## –û–±—â–∏–π –≤—ã–≤–æ–¥ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

- –ö–Ω–∏–≥–∏ –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ - —Å–∞–º—ã–π –æ–±—Å—É–∂–¥–∞–µ–º—ã–π –∏ —Ü–µ–Ω–∏–º—ã–π —Ç–æ–≤–∞—Ä.